@page
@model BrennanHunterPortfolio.Pages.ProjectStories.CapStoneModel
@{
}
<div style="margin-left: 15%; margin-right: 15%;">
    <div class="text-center my-3">
        <h1>SimulEAT : Diner Simulation</h1>
        <h2>Snow College Bachelor’s Degree Capstone Project</h2>
    </div>
    
    <div>
        <h3>Purpose:</h3>
        <p>
            The purpose of this application is to simulate a diner. The user can input different fields like 
            the number of parties to come in, the number of tables they have, the number of waiters, and how 
            long it takes for a customer to eat.
        </p>
        <p>
            I used this project as my capstone project for my Bachelors of Software Engineering at Snow College. 
            So, the motivation behind the project was mainly academic. I wanted to show a complex, thread-safe 
            class system with the ability to run multiple threads. I also wanted to show that I could visualize 
            what was going on the user in real time. I’m really happy with the finished project and with the 
            patterns that I used while coding everything up.  
        </p>

        <h3>Team:</h3>
        <p>
            I was the sole developer for this project. I did have a project manager, Heber Allen, who gave me 
            requirements and specs that I had to complete. It was very useful to have a lead mind in this 
            project because it gave me a lot of direction and focus as I coded this up.  
        </p>

        <h3>Design:</h3>
        <p>
            In order to get my project manager and I on the same page when we first started the project, I 
            drew up a few diagrams.  
        </p>
        <p>
            The first diagram that I made was a classic UML class diagram to show what objects I would have 
            and how they relate to each other.  
        </p>
        <a href="~/resources/ClassDiagram.pdf" class="my-2">
             <button type="button" class="btn btn-secondary btn-lg">Class Diagram (PDF VIEW)</button>
        </a>
        <p>
                Next, I made a sequence diagram for the lifeline of a party. This way I could see what 
                events/functions should trigger different functions from the different actors that I had in my 
                project. 
        </p>
        <a href="~/resources/SequenceDiagram.pdf" class="my-2">
             <button type="button" class="btn btn-secondary btn-lg">Class Diagram (PDF VIEW)</button>
        </a>

        <h3>Class Implementation:</h3>

        
    </div>
</div>  