@page
@model BrennanHunterPortfolio.Pages.Blogs.LinodeModel
@{
}
<div style="margin-left: 15%; margin-right: 15%;">
    <h1 class="my-5">How to easily get your site running on a virtual machine</h1>
    <div>
        <h3>Requirements:</h3>
        <ul>
            <li>Docker-compose support </li>
            <li>Public reop on github.com</li>
        </ul>
        <p>
            I was having trouble with this portfolio site. It was taking way too long to load the first page. So, I decided to put it on my own virtual machine instead 
            of having azure connect to my github repo. The first step to this was creating an account with <a href="https://www.linode.com">Linode</a>. Once you have 
            access to your account, navigate to the Linodes tab and click on the “Create Linode” button.
        </p>
        <div class="text-center py-3">
            <img src="~/images/VM/Linode/create.jpg" alt="create linode" style="width: inherit;">
        </div>
        <p>
            From here you can make a custom virtual machine. When I made mine, I used an Ubuntu 21.10 machine and I selected the 5$ shared CPU plan. 
        </p>
        <p>
            When I was finished creating the linode, I used a command prompt to ssh into the machine.
        </p>
        <div class="text-center py-3">
            <img src="~/images/VM/Linode/ssh.jpg" alt="ssh into linode" style="width: inherit;">
        </div>
        <p>
            Once I got on the machine, I had to run a few commands to configure the VM to be able to run the site:
        </p>
        <ul>
            <li>apt update</li>
            <li>apt upgrade</li>
            <li>apt install docker</li>
            <li>apt install docker-compose</li>
        </ul>
        <p>
            Then I had to clone my repository:
        </p>
        <div class="text-center py-3">
            <img src="~/images/VM/Linode/clone.jpg" alt="clone git repo" style="width: inherit;">
        </div>
        <p>
            Once I had cloned the git repo, all I had to do was get into that directory and run “docker-compose up”. 
        </p>
        <div class="text-center py-3">
            <img src="~/images/VM/Linode/build.jpg" alt="build git repo" style="width: inherit;">
        </div>
        <p>
            After that step I had my site running on the web. All I had to do after that to access the site was to enter in my IP address into the browser navigation bar.
        </p>
        <p>
            That is all I had to do to get my site running on a linode and accessible from the web. Read how I got my site to have an SSL cert and have a 
            free domain name <a href="/Blogs/Swag">here</a>! 
        </p>
    </div>
</div>