@page
@model BrennanHunterPortfolio.Pages.BlogModel
@{
}
<div class="text-secondary px-4 py-5 text-center mb-5" style="background-color: black; height: 15vw">
    <div class="py-1">
        <h1 class="display-5 fw-bold text-white">Brennan Hunter's Blog</h1>
    </div>
</div>


<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SQL</strong>
                    <h3 class="mb-0">Sanitizing User Data Inputs</h3>
                    <div class="mb-1 text-muted">Oct 28, 2021</div>
                    <p class="card-text mb-auto">How to protect database integrity when dealing with user input</p>
                    <a href="/Blogs/SanitizeData" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/sanitize.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">OOP</strong>
                    <h3 class="mb-0">What is the Benifit of Encapsulation?</h3>
                    <div class="mb-1 text-muted">Nov 11, 2021</div>
                    <p class="mb-auto">Learn when and how to use encapsulation.</p>
                    <a href="/Blogs/Encapsolation" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/pokeball.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">OOP</strong>
                    <h3 class="mb-0">State Pattern</h3>
                    <div class="mb-1 text-muted">Nov 28, 2021</div>
                    <p class="card-text mb-auto">When, How, and Why to use the state design pattern</p>
                    <a href="/Blogs/StatePattern" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/state.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SQL</strong>
                    <h3 class="mb-0">Normal Form</h3>
                    <div class="mb-1 text-muted">Apr 18, 2022</div>
                    <p class="mb-auto">Different levels of normal form with examples.</p>
                    <a href="/Blogs/NormalForm" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/files.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">OOP</strong>
                    <h3 class="mb-0">Singleton Pattern</h3>
                    <div class="mb-1 text-muted">Jan 19, 2022</div>
                    <p class="card-text mb-auto">When, How, and Why to use the singleton design pattern</p>
                    <a href="/Blogs/SingletonPattern" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/one.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">C#</strong>
                    <h3 class="mb-0">Producer Consumer Queue in C#</h3>
                    <div class="mb-1 text-muted">Apr 13, 2022</div>
                    <p class="mb-auto">Example of a producer consumer queue in C#</p>
                    <a href="/Blogs/ProducerConsumer" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/cook.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2">Cloud</strong>
                    <h3 class="mb-0">Linode + Docker-Compose</h3>
                    <div class="mb-1 text-muted">Apr 18, 2022</div>
                    <p class="card-text mb-auto">How to easily get your site running on a virtual machine</p>
                    <a href="/Blogs/Linode" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/boxes.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2">Cloud</strong>
                    <h3 class="mb-0">Swag + Docker-Compose</h3>
                    <div class="mb-1 text-muted">Apr 18, 2022</div>
                    <p class="mb-auto">How to easily get an SSL cert for a website</p>
                    <a href="/Blogs/Swag" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2">Cloud</strong>
                    <h3 class="mb-0">CI/CD With Github Actions</h3>
                    <div class="mb-1 text-muted">Apr 27, 2022</div>
                    <p class="card-text mb-auto">Create a CI/CD pipeline on a virtual machine with Github Actions</p>
                    <a href="/Blogs/CICD" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2" style="color: lightgreen">Github</strong>
                    <h3 class="mb-0">Github Secrets</h3>
                    <div class="mb-1 text-muted">May 2, 2022</div>
                    <p class="card-text mb-auto">Securly Add Secrets To Github Repository</p>
                    <a href="/Blogs/GithubSecrets" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
</div>

