@page
@model BrennanHunterPortfolio.Pages.BlogModel
@{
}
<div class="text-secondary px-4 py-5 text-center mb-5" style="background-color: black; height: 350px">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Brennan Hunter's Blog</h1>
    </div>
</div>


<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SQL</strong>
                    <h3 class="mb-0">Sanitizing User Data Inputs</h3>
                    <div class="mb-1 text-muted">Oct 28, 2021</div>
                    <p class="card-text mb-auto">How to protect database integrity when dealing with user input</p>
                    <a href="/Blogs/SanitizeData" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/sanitize.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">OOP</strong>
                    <h3 class="mb-0">What is the Benifit of Encapsulation?</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">Learn when and how to use encapsulation.</p>
                    <a href="/Blogs/Encapsolation" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/pokeball.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">OOP</strong>
                    <h3 class="mb-0">State Pattern</h3>
                    <div class="mb-1 text-muted">Nov 28, 2021</div>
                    <p class="card-text mb-auto">When, How, and Why to use the state design pattern</p>
                    <a href="/Blogs/StatePattern" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/state.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SQL</strong>
                    <h3 class="mb-0">Normal Form</h3>
                    <div class="mb-1 text-muted">Dec 5, 2021</div>
                    <p class="mb-auto">Different levels of normal form with examples.</p>
                    <a href="/Blogs/Encapsolation" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">OOP</strong>
                    <h3 class="mb-0">Singleton Pattern</h3>
                    <div class="mb-1 text-muted">Jan 19, 2022</div>
                    <p class="card-text mb-auto">When, How, and Why to use the singleton design pattern</p>
                    <a href="/Blogs/SingletonPattern" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SQL</strong>
                    <h3 class="mb-0">Normal Form</h3>
                    <div class="mb-1 text-muted">Dec 5, 2021</div>
                    <p class="mb-auto">Different levels of normal form with examples.</p>
                    <a href="/Blogs/Encapsolation" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
</div>

