@page
@model BrennanHunterPortfolio.Pages.ProjectsModel
@{
}
<div class="text-secondary px-4 py-5 text-center mb-5" style="background-color: black; height: 350px">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Brennan Hunter's Projects</h1>
    </div>
</div>

<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Bored Web Application</h3>
                    <p class="card-text mb-auto"> 
                        Web app that I created to give me ideas of what to do when I am bored.
                    </p>
                    <a href="#" class="stretched-link">Learn More</a>
                    <a href="https://github.com/brennan801/BoredApp">Github Repo</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/sanitize.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Capstone Project</h3>
                    <p class="card-text mb-auto"> 
                        A simulation of a diner. This is a great display of complex objects working together in a thread safe environment.
                    </p>
                    <a href="#" class="stretched-link">Learn More</a>
                    <a href="https://github.com/brennan801/Diner">Github Repo</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/images/default.jpg" style="height: 250px; width: 200px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="row">
            <h3>Bored Web Application</h3>
        </div>
        <div class="row">
            <div class="col-4">
                Web app that I created to give me ideas of what to do when I am bored. The application communicates with the bored api.
                Users are able to get a completley random activity and they are able add conditions to the generated activity.
            </div>
            <div class="col-2">
                <a href="https://github.com/brennan801/BoredApp">Repository on github</a>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="row">
            <h3>Diner Console App</h3>
        </div>
        <div class="row">
            <div class="col-4">
                Project I am currently working on that simulates a diner. Great example of objects working together. The purpose of the 
                simulation is to answer different quesiotns like "How long will it take to serve 'X' number of customers?", and "How much
                time does a given employee have free durring a shift?"
            </div>
            <div class="col-2">
                <a href="https://github.com/brennan801/Diner">Repository on github</a>
            </div>
        </div>
    </div>
</div>